.wrapper {
    min-width: 320px;
}

#form-bx24 {
    margin-top: 50px;
    padding: 30px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

span.require {
    color: red;
}

button.submit-bx24 {
    margin-top: 30px;
}